@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>About</h1>
        <p class="lead">Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.</p>
        @Html.ActionLink("Learn More About Us", "About")
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Come browse our products and see what we have for you.
        </p>
        @Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>See a current Customer List.</p>
        @Html.ActionLink("Check Customers", "Index", "Customer", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Transactions</h2>
        <p>See all Transactions.</p>
        @Html.ActionLink("Check Transactions", "Index", "Transaction", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>